numpy
pandas
tqdm
torch
torchmetrics
torchsampler
nni
silence-tensorflow
tensorflow
scipy
captum
deepspeed
scikit-learn
tokenizers
transformers
tree-sitter
unidiff
jsonlines
networkx
pexpect
jsonargparse[signatures]
fastparquet
gdown
datasets
faiss-gpu